<section class="">
  <!-- Footer -->
<footer class="text-center text-white" style="background: linear-gradient(90deg, #0a4275, #06345a);">
  <div class="container p-4">
    <p class="small text-muted mb-4">Balto © 2025 | Projet Technofutur | Développé en Flask</p>

    <ul class="list-inline mb-4">
      <li class="list-inline-item"><a href="#" class="text-light">Accueil</a></li>
      <li class="list-inline-item"><a href="#" class="text-light">Explorer</a></li>
      <li class="list-inline-item"><a href="#" class="text-light">Tags</a></li>
      <li class="list-inline-item"><a href="#" class="text-light">Sessions</a></li>
      <li class="list-inline-item"><a href="#" class="text-light">Profil</a></li>
    </ul>

    <ul class="list-inline mb-4">
      <li class="list-inline-item"><a href="#" class="text-light">Mentions légales</a></li>
      <li class="list-inline-item"><a href="#" class="text-light">Politique de confidentialité</a></li>
      <li class="list-inline-item"><a href="#" class="text-light">Contact</a></li>
    </ul>

    <div class="d-flex justify-content-center align-items center gap-3">
      <a href="#"><i class="bi bi-github fs-3 text-light mx-2" style="color: white;"></i></a>
      <a href="#"><i class="bi bi-linkedin fs-3 text-light mx-2"></i></a>
      <a href="#"><i class="bi bi-twitter fs-3 text-light mx-2"></i></a>
    </div>
  </div>
</footer>

  <!-- Footer -->
</section>

<!-- 
Ce qu'il faut mettre
---------------------------------------------------------
Balto © 2025 | Projet Technofutur | Développé en Flask

[Accueil] [Explorer] [Tags] [Sessions] [Profil]

Mentions légales | Politique de confidentialité | Contact

GitHub | LinkedIn | Twitter
--------------------------------------------------------- -->