<nav class="nav navbar navbar-expand-lg -">
    <div class="container-fluid">
        <!-- Logo -->
        <a class="navbar-brand a" href=""><i class="bi bi-suit-club-fill"></i></a>

        <!-- Liens -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <!-- Non connecté -->
        @if(!isLoggedNavbar()){
            <li class="nav-item ">
                <a class="nav-link a" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link a" href="#">Explorer Decks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link a" href="#">Tags</a>
            </li>
        }
        <!-- Connecté -->
        @if(isLoggedNavbar()){
            <li class="nav-item">
                <a class="nav-link a" href="">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link a" href="#">Mes Decks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link a" href="#">Sessions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link a" href="#">Créer Deck</a>
            </li>
            <li class="nav-item">
                <a class="nav-link a" href="#">Créer Session</a>
            </li>
        }
        <!-- Admin -->
        @if(isAdminNavbar()){
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle a" href="#" role="button" data-bs-toggle="dropdown">
                Admin
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item a" href="#">Utilisateurs</a></li>
                    <li><a class="dropdown-item a" href="#">Decks</a></li>
                    <li><a class="dropdown-item a" href="#">Tags</a></li>
                    <li><a class="dropdown-item a" href="#">Sessions</a></li>
                </ul>
            </li>
            }
            </ul>
        <!-- Login / Profil -->
        <ul class="navbar-nav ms-auto">
            @if (!isLoggedNavbar()){
                <li class="nav-item">
                    <a class="nav-link a" href="login">Login / Register</a>
                </li>
                }
            @if(isLoggedNavbar()){
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle a" href="#" role="button" data-bs-toggle="dropdown">
                    Profil
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item a" href="#">Voir Profil</a></li>
                        <li><a class="dropdown-item a" href="#">Paramètres</a></li>
                        <li><a class="dropdown-item a" href="#">Déconnexion</a></li>
                    </ul>
                </li>
                }
        </ul>
    </div>
</nav>